<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareluntan.xuefeng.generator.AnswerMapper">
  <resultMap id="BaseResultMap" type="com.shareluntan.xuefeng.generator.Answer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="useful" jdbcType="BIT" property="useful" />
    <result column="id_topic" jdbcType="INTEGER" property="idTopic" />
    <result column="id_user" jdbcType="INTEGER" property="idUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, img, content, created_date, useful, id_topic, id_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from answer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shareluntan.xuefeng.generator.Answer" useGeneratedKeys="true">
    insert into answer (img, content, created_date, 
      useful, id_topic, id_user
      )
    values (#{img,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{useful,jdbcType=BIT}, #{idTopic,jdbcType=INTEGER}, #{idUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shareluntan.xuefeng.generator.Answer" useGeneratedKeys="true">
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="img != null">
        img,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="useful != null">
        useful,
      </if>
      <if test="idTopic != null">
        id_topic,
      </if>
      <if test="idUser != null">
        id_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="useful != null">
        #{useful,jdbcType=BIT},
      </if>
      <if test="idTopic != null">
        #{idTopic,jdbcType=INTEGER},
      </if>
      <if test="idUser != null">
        #{idUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shareluntan.xuefeng.generator.Answer">
    update answer
    <set>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="useful != null">
        useful = #{useful,jdbcType=BIT},
      </if>
      <if test="idTopic != null">
        id_topic = #{idTopic,jdbcType=INTEGER},
      </if>
      <if test="idUser != null">
        id_user = #{idUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shareluntan.xuefeng.generator.Answer">
    update answer
    set img = #{img,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      useful = #{useful,jdbcType=BIT},
      id_topic = #{idTopic,jdbcType=INTEGER},
      id_user = #{idUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAnswerByTopicId" resultType="com.shareluntan.xuefeng.model.AnswerVO"  parameterType="java.lang.Integer">
select answer.id,answer.img,answer.content,answer.created_date,answer.useful,answer.id_topic,user.username
from answer join user
on answer.id_user=user.id and answer.id_topic= #{idTopic,jdbcType=INTEGER}
order by created_date desc
  </select>
</mapper>