body, html{
	width: 100%;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	background-color: whitesmoke;
	
}
.header_word{
	
	
	text-align: center;
}
.header{
	height: 10%;
}
.bodytext{
	
	height: 90%;
	
}

.container{
	
	height: 100%;
	width: 100%;
	background-color: beige;
	overflow: auto;
}
.selectBox{
	width: 100px;
	height: 26px;
}
.row{
	margin-top: 1px;
	
}
.row1{
	border-radius: 5px;
}
.btn{
	margin-top: 10px;
	margin-left: 30px;
	color: green;
	height: 30px;
}
