<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
</head>
<body>
<main layout:fragment="content">
    <article class="container" style="padding: 3% 0 2%;">
        <header class="row">
            <div class="col s12">
                <blockquote class="flow-text left">添加文章</blockquote>
            </div>
        </header>
        <section>
            <form action="/addtopic" method="post">
                <div class="row">
                    <div class="col s12">
                        <p>
                            <input value = "科技" name="category" class="with-gap" type="radio" id="science" required="required"/>
                            <label for="science">科技</label>
                        </p>
                        <p>
                            <input value = "人文" name="category" class="with-gap" type="radio" id="humancunlture" required="required"/>
                            <label for="humancunlture">人文</label>
                        </p>
                        <p>
                            <input value = "杂志" name="category" class="with-gap" type="radio" id="magazine" required="required"/>
                            <label for="magazine">杂志</label>
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>标题：
                            <input type="text" name="title" minlength="2" maxlength="32" data-length="32" required="required"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>内容：
                            <textarea name="content" class="materialize-textarea" minlength="2" maxlength="1024"
                                      data-length="1024" required="required"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>图片：
                            <textarea name="img" class="materialize-textarea"
                                      style="font-family: monospace, monospace;" maxlength="1024" data-length="1024"></textarea>
                        </label>
                    </div>
                </div>
                <!--<input type="hidden" name="id_user" th:value="${user.getId()}"/>-->
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light btn-large" type="submit" name="add">发表</button>
                    </div>
                </div>
            </form>
        </section>
    </article>
</main>
</body>
</html>