<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>zhuce</title>
    <link rel="stylesheet" href="/register.css">
</head>

<body>
<div class="index">
    <form action="/register"  method="get">
        <p class="headline">用户注册</p>
        <p class="astyle">用户名：</p>
        <input type="text" name="name" placeholder="请输入账号">
        <p class="astyle">密码：</p>
        <input type="password"  name="password" placeholder="请输入密码">
        <p class="astyle">邮件：</p>
        <input type="text" name="email" placeholder="请输入邮件">
        <input type="submit" value="注册" name="注册" >
    </form>
</div>
</body>
</html>
