
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="container">

     导航
    <div class="nav">
        <ul>
            <!--<li><a href="#">链接三</a></li>
            <li><a href="#">链接二</a></li>-->
            <li><a href="/index.html">关于我们</a></li>
        </ul>
    </div>

    <!-- 主体内容 （登陆界面）-->
    <div class="main">
        <!-- 左侧信息栏 -->
        <div class="sideleft">
            <h1 style="color: #ffffff">分享论坛</h1>
            <h4 style="color: #ffffff">本网站采用技术怎么怎么样</h4>
        </div>
        <!-- 右侧登陆界面 -->
        <div class="sideright">
            <div class="index">
                <form action="/login" method="get">
                    <p class="headline">用户登陆</p>
                    <p class="astyle">账号：</p>
                    <input type="text" name="id" placeholder="请输入账号">
                    <p class="astyle">密码：</p>
                    <input type="password" name="password" placeholder="请输入密码">
                    <input type="submit" value="登陆" name="login" >
                    </br>

                    </br>
                    <p class="cstyle">没有账号？<a href="register.html">立即注册</a></p>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
