
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/login/login.css">
    <script type="text/javascript" src="/login/login.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <title>登陆界面</title>
    <script type="text/javascript">
        $(function(){
            $("#login").click(login);
        })
    </script>
</head>
<body>
<div class="container">

    <li><a href="/index.html">关于我们</a></li>


    <!-- 主体内容 （登陆界面）-->
    <div class="main">
        <!-- 左侧信息栏 -->
        <div class="sideleft">
            <h1 style="color: #ffffff">分享论坛</h1>
            <h4 style="color: #ffffff">本网站采用技术怎么怎么样</h4>
        </div>
        <!-- 右侧登陆界面 -->
        <div class="sideright">
            <div class="index">
                <form>
                    <p class="headline">用户登陆</p>
                    <p class="astyle">账号：</p>
                    <input type="text" id = "id" name="id" placeholder="请输入账号">
                    <p class="astyle">密码：</p>
                    <input type="password" id = "password" name="password" placeholder="请输入密码">
                    <input type="submit" value="登陆" id = "login" name="login" >
                    </br>

                    </br>
                    <p class="cstyle">没有账号？<a href="register.html">立即注册</a></p>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
