<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <article class="container" style="padding: 3% 0 2%;">
        <!-- <header class="row">
             <blockquote class="flow-text left" th:text="${header}">Header</blockquote>
             <blockquote class="flow-text right" th:text="|Topics: | + ${topics.size()}">Number of topics</blockquote>
         </header>-->
        <section class="row">
            <div class="col s12">
                    <thead>
                    <tr>
                        <th>Answers</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Enter</th>
                    </tr>
                    </thead>
                    <tbody>

                    <form id="topic">
                        <input id="content" name="content" th:value="${topic.content}"/>
                        <input id="username" name="username" th:value="${username}"/>
                        <input id="title" name="title" th:value="${topic.getTitle()}"/>
                    </form>

                    <th:block th:each="answer : ${answer}">
                        <tr>
                            <td th:text="${answer.content}"></td>
                            <td th:text="${answer.createdDate}"></td>
                            <td th:text="${answer.username}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</main>

</br>
</br>


<a href="/addtopic.html">发表我的文章</a>

<!--<main>
    <article class="container" style="padding: 3% 0 2%;">
        <section>
            <form action="/addanswer" method="post">
                <div class="row">
                    <div class="col s12">
                        <label>发表评论：
                            <textarea name="answer" class="materialize-textarea" minlength="2" maxlength="1024"
                                      data-length="1024" required="required"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>图片：
                            <textarea name="img" class="materialize-textarea"
                                      style="font-family: monospace, monospace;" maxlength="1024" data-length="1024"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light btn-large" type="submit" name="add">发表</button>
                    </div>
                </div>
            </form>
        </section>
    </article>
</main>-->

</body>
</html>