<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <article class="container" style="padding: 3% 0 2%;">
       <!-- <header class="row">
            <blockquote class="flow-text left" th:text="${header}">Header</blockquote>
            <blockquote class="flow-text right" th:text="|Topics: | + ${topics.size()}">Number of topics</blockquote>
        </header>-->
        <section class="row">
            <div class="col s12">
                <table class="striped bordered centered" th:if="${topics.size() != 0}">
                    <thead>
                    <tr>
                        <th>Answers</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Enter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="topic : ${topics}">
                        <tr>
                            <!--<td th:text="${answerDao.countAnswersByTopic_Id(topic.getId())}">Number of answers</td>-->
                            <td th:text="${topic.title}">Topic's title</td>
                            <!--<td>
                                <a th:href="@{'/profile/' + ${topic.getUser().getId()}}">
                                    <div class="chip" th:text="${topic.getUser().getUsername()}">Topic's author</div>
                                </a>
                            </td>-->
                            <td th:text="${topic.username}">Topic's content</td>
                            <td th:text="${topic.content}">Topic's content</td>
                            <td th:text="${topic.createdDate}">Topic's created date</td>
                            <!--<td>
                                <a th:href="@{'/topic/' + ${topic.getId()}}" class="btn btn-floating pulse">
                                    <i class="material-icons">arrow_forward</i>
                                </a>
                            </td>-->
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</main>

</br>
</br>

<a href="/addtopic.html">发表我的文章</a>



</body>
</html>